li {
    border: 1px solid black;
}
#vertical li {
    /*margin: 10px;*/
}
#horizontal {
    padding: 0px;
    margin: 0px;
}
#horizontal li {
    list-style: none;
    display: inline;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#flowing {
    width: 105px;
    border: 2px solid red;
    padding: 0;
    overflow: hidden;
    margin: 0;
}
#flowing li {
    list-style: none;
    display: inline;
    margin: 0px;
    padding: 0px;
    position: relative;
    float: left;
    width: 50px;
}
